<script>
  window.watsonAssistantChatOptions = {
      integrationID: "10f53d74-b7f4-4e02-a5d8-8004fa9aa19f", // The ID of this integration.
      region: "us-south", // The region your integration is hosted in.
      serviceInstanceID: "add7ca56-0fab-433e-ab86-34e037e06762", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js"
    document.head.appendChild(t);
  });
</script>


<html >
<head>  
  <title>Predict Abalone Age</title>
</head>

<body>
 <div class="login">
	<h1>Abalone Age</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="length" placeholder="Enter Length" required="required" /> </br> </br>
        <input type="text" name="diameter" placeholder="Enter Diameter" required="required" /> </br> </br>
	<input type="text" name="height" placeholder="Enter Height" required="required" /> </br> </br>
        <button type="submit"> Predict Abalone Age </button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
</body>
</html>
